header ul.flex {
gap: 35px;
}

header ul li a {
   color: var(--title); 
  
   font-size:0.88rem ;
   font-weight: 700;
}
header ul li a:hover{
    color: var(--blue);
    opacity: 0.9;
    font-size: 0.88rem;
   
}
header button {
    height: 30px;
   

}
header.flex {
      justify-content: space-between;
      padding: 0 2.45rem;
      margin-top: 1.2rem;
}
header .fixed ul.modal li:first-child{
    text-align: right;
    border: none;
    padding-bottom: 0;
    padding-top: 0.2rem;
}
header.flex nav{
    background-color: var(--bgHeader);
    padding:0.8rem 2rem;
    border-radius: 20px;
    box-shadow: 1px 1px 40px #2323242a;
}
header button.menu {
    display: none;
}
button i{
    /* background-color: var(--bgHeader); */
    /* padding: 15px; */
    /* border-radius: 50%; */
    color:white;
    /* border: 1px solid rgba(250, 128, 114, 0.215); */
      transition: 0.3s;

}
button i:hover{
   color: var(--title); 
   /* border: 1px solid rgb(244, 165, 96); */
   transition: 0.2s;
}


header .fixed{
    position: fixed;
    z-index: 100;
    inset: 0;
    background-color: rgba(40, 40, 48, 0.91);
    /* backdrop-filter: blur(8px); */
}
@keyframes mymove{
    0%   {scale: 0; }
    80%   {scale: 1.1; }
 90%   {scale: 1.05; }
 95%   {scale: 1.03; }

  
    100%   {scale: 1; }
    }
  

header .fixed ul.modal{
    animation: mymove 0.7s 1;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color:var(--primary);
}
header .fixed ul.modal li{
    border-bottom: 1px solid var(--border);
    padding-bottom: 0.8rem;
    padding-top: 0.5rem;
}
header .fixed ul.modal li:first-child{
  
    margin-bottom: -2rem;
}
header .fixed ul.modal li:last-child{
 border: none;
}
header .fixed ul.modal li a{
   font-size: 1rem; 
}


@media (max-width: 700px) {
    header.flex nav{display: none;}
    header button.menu {
    display: block;
}

    
}